<!doctype html>
<html>
<head>
  <meta charset="utf-8"/>
  <title>Entrega Final</title>
  <link rel="stylesheet" href="/css/styles.css"/>
</head>
<body>
  <header>
    <h1>Entrega Final - Productos y Carrito</h1>
    <nav><a href="/products">Productos</a></nav>
  </header>
  <main>
    {{{ body }}}
  </main>
  <footer><small>Proyecto de entrega final</small></footer>
</body>
</html>
